body{
  background-color:powderblue;

}

.caddo{
  height: 100px;
  border-radius: 100px;
}
a{
  color:black;
  text-decoration: none;

}
 a:hover{
   color:#876445;
 }
table{
  height: 3px;
}
h4{
  text-decoration: underline 3px;
  font-family: sans-serif;
}
span{
  background-color: #F1F1F1;
  border: solid 2px;
  border-collapse: separate;
  border-spacing: 10px;
   padding: .1em;
   font-family: cursive;
}
span{
  background-color: #F1F1F1;
  border: solid 2px;
  border-collapse: separate;
  border-spacing: 10px;
   padding: .1em;

}
div{
  background-color: #F7E2D6;
}

h1{
  font-family:serif;
}
img{
  height:20px;
}
.high{
  background-color: powderblue;

}
